[Unit]
Description=Gunicorn instance to serve ViberBot
After=network.target

[Service]
Restart=always
RestartSec=42s
User=django
ExecStart=/usr/local/bin/supervisord -c /etc/supervisor/supervisord.conf

[Install]
WantedBy=multi-user.target